.body{
  margin: 0px;
  padding: 0px;
}
.nav-links {
  list-style: none;
  padding: 0px;
  display: flex;
  text-decoration: underline #007bff;
  
  justify-content: space-evenly;
}

.nav-links li a{
  font-size: 25px;
  padding: 3px;
  background-color: black;
  color: #007bff;
  text-decoration: none;
}